.lyt-parent .segment-button-checked {
    border-bottom-width: 5px;
    border-color: #6979F8;
}

.lty-content {
    padding: 0;
}

.lty-header {
    padding-bottom: 0;
}

.lty-header ion-card-title {
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}